if BOARD_STARLABS_LITE_GLK || BOARD_STARLABS_LITE_APL

#
# Lite Mk III GLK Board uses the following devices:
#
# GigaDevice GD25Q64C (8192KB) SPI NOR flash (KBL)
# Winbond 25Q128JVSQ (16384KB) SPI NOR flash (CML)
# Infineon SLB9670VQ SPI TPM2.0 device
# Realtek ALC256 audio CODEC
# ITE IT8987 Embedded Controller
# Analogix ANX7447 crosspoint switch
#
config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select DISABLE_ACPI_HIBERNATE
	select DRIVERS_I2C_HID
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select HAVE_SMI_HANDLER
	select INTEL_GMA_HAVE_VBT
	select INTEL_LPSS_UART_FOR_CONSOLE
	select NO_UART_ON_SUPERIO
	select EC_STARLABS_IT8987
	select SOC_INTEL_COMMON_BLOCK_HDA
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SPI_FLASH_WINBOND
	select SYSTEM_TYPE_LAPTOP

config MAINBOARD_DIR
	string
	default "starlabs/lite"

config VARIANT_DIR
	string
	default "apl" if BOARD_STARLABS_LITE_APL
	default "glk" if BOARD_STARLABS_LITE_GLK

config MAINBOARD_PART_NUMBER
	string
	default "Lite Mk II" if BOARD_STARLABS_LITE_APL
	default "Lite Mk III" if BOARD_STARLABS_LITE_GLK

config MAINBOARD_FAMILY
	string
	default "I2" if BOARD_STARLABS_LITE_APL
	default "I3" if BOARD_STARLABS_LITE_GLK

config MAINBOARD_SMBIOS_PRODUCT_NAME
	string
	default "Lite"

config UART_FOR_CONSOLE
	int
	default 2

config DEVICETREE
	string
	default "variants/\$(CONFIG_VARIANT_DIR)/devicetree.cb"

config DIMM_SPD_SIZE
	int
	default 512

config VBOOT
	select VBOOT_LID_SWITCH
	select VBOOT_MOCK_SECDATA

config FMDFILE
	string
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/board.fmd"

config TIANOCORE_BOOTSPLASH_FILE
	string
	depends on TIANOCORE_BOOTSPLASH_IMAGE
	default "3rdparty/blobs/mainboard/starlabs/Logo.bmp"

config NEED_IFWI
	bool
	default y

config IFWI_FMAP_NAME
	string
	default "IFWI"

config IFD_BIN_PATH
	string
	default "3rdparty/blobs/mainboard/\$(MAINBOARDDIR)/\$(CONFIG_VARIANT_DIR)/flashregion_0_flashdescriptor.bin"

config IFWI_FILE_NAME
	string
	default "3rdparty/blobs/mainboard/\$(MAINBOARDDIR)/\$(CONFIG_VARIANT_DIR)/fit-image.bin"

endif
