# SPDX-License-Identifier: GPL-2.0-or-later

config BOARD_STARLABS_STARFIGHTER_AMD
	select BOARD_ROMSIZE_KB_32768
	select AMD_FWM_POSITION_820000_DEFAULT
	select AMD_SOC_CONSOLE_UART
	select AZALIA_HDA_CODEC_SUPPORT
	select AZALIA_USE_LEGACY_VERB_TABLE
	select DRIVERS_EFI_VARIABLE_STORE
	select DRIVERS_OPTION_CFR_ENABLED
	select DRIVERS_PCIE_RTD3_DEVICE
	select EC_STARLABS_ITE
	select EC_STARLABS_MERLIN
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select PCIEXP_ASPM
	select PCIEXP_CLK_PM
	select PCIEXP_COMMON_CLOCK
	select PCIEXP_L1_SUB_STATE
	select SOC_AMD_COMMON_BLOCK_USE_ESPI
	select SOC_AMD_PHOENIX_FSP
	select SYSTEM_TYPE_LAPTOP

if BOARD_STARLABS_STARFIGHTER_AMD

config BOARD_SPECIFIC_OPTIONS
	def_bool y

config CONSOLE_SERIAL
	default n if !EDK2_DEBUG

config DEVICETREE
	default "variants/baseboard/devicetree.cb"

config EC_GPE_SCI
	default 0x17

config EC_STARLABS_ADD_ITE_BIN
	default y

config EC_STARLABS_ITE_BIN_PATH
	string
	default "3rdparty/blobs/mainboard/\$(MAINBOARDDIR)/ec.bin"

config EDK2_BOOTSPLASH_FILE
	string
	default "3rdparty/blobs/mainboard/starlabs/Logo.bmp"

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/board.fmd"

config FSP_M_SIZE
	default 0xE0000

config MAINBOARD_DIR
	default "starlabs/starfighter_amd"

config MAINBOARD_FAMILY
	string
	default "F2-A"

config MAINBOARD_PART_NUMBER
	string
	default "StarFighter Mk II"

config MAINBOARD_SMBIOS_PRODUCT_NAME
	string
	default "StarFighter"

config PSP_LOAD_MP2_FW
	default y

config PSP_APOB_DRAM_SIZE
	default 0x10000

config VARIANT_DIR
	string
	default "starfighter_amd"

config EFS_SPI_SPEED
	default 4

config NORMAL_READ_SPI_SPEED
	default 1

config ALT_SPI_SPEED
	default 0

endif # BOARD_STARLABS_STARFIGHTER_AMD
