CONFIG_CDK2_COREBOOT_CAPSULE_PROFILE=y
CONFIG_CDK2_CPU_VENDOR_INTEL=y
CONFIG_CDK2_QEMU_ACCEPTANCE_PROFILE=y
CONFIG_CDK2_LINEAR_BOOT=y
CONFIG_PAYLOAD_DMA_HANDOFF=y
CONFIG_CDK2_DEBUG=y
CONFIG_CDK2_DIAGNOSTIC=y
CONFIG_CDK2_SERIAL=y
CONFIG_CDK2_CBMEM_CONSOLE=y
CONFIG_CDK2_SPI_CONSOLE=y
CONFIG_CDK2_SETUP_UI=n
CONFIG_CDK2_BOOT_TIMEOUT=0
