CONFIG_BOARD_EMULATION_QEMU_X86_Q35=y
CONFIG_LOCALVERSION="26.09"
CONFIG_CPU_QEMU_X86_TSEG_SMM=y
CONFIG_CONSOLE_SERIAL=y
CONFIG_CONSOLE_CBMEM=y
CONFIG_CONSOLE_QEMU_DEBUGCON=y
CONFIG_DEBUG_CONSOLE_INIT=y
CONFIG_GENERIC_LINEAR_FRAMEBUFFER=y
CONFIG_PAYLOAD_LOCAL_APIC_TIMER_INFO=y
CONFIG_PAYLOAD_RESOURCE_HANDOFF=y
CONFIG_PAYLOAD_DMA_HANDOFF=y
CONFIG_Q35_VTD_DMA_TEST_BACKEND=y
CONFIG_TPM2=y
CONFIG_TPM_INIT_RAMSTAGE=y
CONFIG_TPM_PPI=y
CONFIG_TPM_MEASURED_BOOT=y
CONFIG_SMMSTORE=y
CONFIG_DRIVERS_EFI_VARIABLE_STORE=y
CONFIG_DRIVERS_EFI_FW_INFO=y
CONFIG_DRIVERS_EFI_MAIN_FW_GUID="00112233-4455-6677-8899-aabbccddeeff"
CONFIG_DRIVERS_EFI_MAIN_FW_VERSION=0x001a0009
CONFIG_DRIVERS_EFI_MAIN_FW_LSV=0x001a0009
CONFIG_DRIVERS_EFI_UPDATE_CAPSULES=y
CONFIG_DRIVERS_EFI_CAPSULE_ON_DISK_SUPPORT=y
CONFIG_PAYLOAD_NONE=y
CONFIG_ANY_TOOLCHAIN=y
CONFIG_CONSOLE_SPI_FLASH=y
CONFIG_CONSOLE_SPI_FLASH_LATEST_BOOT=y
CONFIG_PAYLOAD_SPI_FLASH_CONSOLE=y
CONFIG_FMDFILE="src/mainboard/emulation/qemu-q35/spi-console.fmd"
