CONFIG_PLAT_APOB_ADDRESS=##APOB_BASE##
CONFIG_PSP_BIOS_BIN_BASE=##BIOS_ENTRY_BASE##
CONFIG_PSP_BIOS_BIN_SIZE=##BIOS_ENTRY_SIZE##

CONFIG_PLAT_NUMBER_SOCKETS=1
CONFIG_MKT_SEG_CLIENT=y
CONFIG_PLAT_MARKET_SEGMENT_NAME="Client"
CONFIG_SOC_F19M70=y
CONFIG_HAVE_CCX_ZEN4=y
CONFIG_CCX_ZEN4_VARINT=5
CONFIG_HAVE_NBIO_PHX=y
