## SPDX-License-Identifier: GPL-2.0-only

config SOC_INTEL_COMMON_BLOCK_I2C
	bool
	select DRIVERS_I2C_DESIGNWARE
	help
	  Intel Processor Common I2C support

config SOC_INTEL_COMMON_BLOCK_I2C_SMM
	bool
	depends on SOC_INTEL_COMMON_BLOCK_I2C
	depends on SOC_INTEL_COMMON_FEATURE_I2C_DEVFN
	help
	  Build Intel DesignWare I2C transfer support for SMM handlers.
