
# Reverse-engineered from vendor's firmware, might not be (fully) correct!
FIRMWARE_LOCATION          ../amd_binaries/PHX/PSP
SOC_NAME                   phoenix
# PSP
AMD_PUBKEY_FILE            Psp_Typex0_AmdPubKey.bin
PSPBTLDR_AB_STAGE1_FILE    Psp_Typex1_PspBootLoader.bin
PSPBTLDR_AB_FILE           Psp_Typex73_PspBl2.bin
PSPSECUREOS_FILE           Psp_Typex2_PspOs.bin
PSPNVRAM_FILE              Psp_Typex4_PspNv.bin
PSP_SMUFW1_SUB0_FILE       Psp_Typex8_Smu.bin
PSPSECUREDEBUG_FILE        Psp_Typex9_DbgKey.bin
PSPTRUSTLETS_FILE          Psp_Typexc_PspTrustlet.bin
PSP_SMUFW2_SUB0_FILE       Psp_Typex12_Smu2.bin
PSP_SEC_DEBUG_FILE         Psp_Typex13_PspEarlyUnlock.bin
PSP_BOOT_DRIVER_FILE       Psp_Typex1b_TeeBootDrv.bin
PSP_SOC_DRIVER_FILE        Psp_Typex1c_TeeSocDrv.bin
PSP_DEBUG_DRIVER_FILE      Psp_Typex1d_TeeDbgDrv.bin
PSP_INTERFACE_DRIVER_FILE  Psp_Typex1f_TeeIntfDrv.bin
PSP_HW_IPCFG_FILE_SUB0     Psp_Typex20_HwIpCfg.bin
PSP_HW_IPCFG_FILE_SUB1     Psp_Typex20_1_HwIpCfg.bin
PSP_IKEK_FILE              Psp_Typex21_ikek.bin
TA_IKEK_FILE               Psp_Typex8d_iKEK_TA.bin
PSP_SECG0_FILE             Psp_Typex24_SecureGasket.bin
PSP_MP2FW0_FILE            Psp_Typex25_Mp2Fw.bin
AMD_DRIVER_ENTRIES         Psp_Typex28_PspSystemDriver.bin
PSP_ABL0_FILE              Psp_Typex30_PspAgesaBL0.bin
VBIOS_BTLOADER_FILE        Psp_Typex3c_VbiosPreload.bin
PSP_C20MP_FILE             Psp_Typex95_SepDxioC20Fw.bin
SECURE_POLICY_L1_FILE      Psp_Typex45_tOS.bin
UNIFIEDUSB_FILE            Psp_Typex44_UsbPhyFw.bin
DRTMTA_FILE                Psp_Typex47_DrtmTa.bin
KEYDBBL_FILE               Psp_Typex50_PspBlPubKey.bin
KEYDB_TOS_FILE             Psp_Typex51_PspTosPubKey.bin
RPMC_FILE                  Psp_Typex54_PspNvram.bin
SPL_TABLE_FILE             Psp_Typex55_BLAntiRB.bin
MSMU_FILE                  Psp_Typex5a_MSMU0.bin
SPIROM_CONFIG_FILE         Psp_Typex5c_SPIRomConf.bin
MPIO_FILE                  Psp_Typex5d_MPIOOffchipFW.bin
TPMLITE_FILE               Psp_Typex5f_TPM.bin
DMCUB_FILE                 Psp_Typex71_DMCUB_Ins.bin
PSP_RIB_FILE_SUB0          Psp_Typex76_RIB.bin
PSP_RIB_FILE_SUB1          Psp_Typex76_1_RIB.bin
MPCCX_FILE                 Psp_Typex90_MpccxFw.bin
LSDMA_FILE                 Psp_Typex94_LsdmaFw.bin
MINIMSMU_FILE              Psp_Typex9a_miniZSC.bin
MINIMSMU_FILE_INS1         Psp_Typex9a_1_miniZSC.bin
PSP_GFX_IMMU_FILE_0        Psp_Typex9b_GfxInsFw.bin
PSP_GFX_IMMU_FILE_1        Psp_Typex9c_GfxDataFw.bin
UMSMU_FILE                 Psp_Typexa2_uzscFw.bin
# BDT
RTM_PUBKEY_FILE            Bios_Typex5_OemPubKey.bin
PSP_PMUI_FILE_SUB0_INS1    Bios_Typex64_1_PmuCode.bin
PSP_PMUI_FILE_SUB0_INS2    Bios_Typex64_2_PmuCode.bin
PSP_PMUI_FILE_SUB0_INS3    Bios_Typex64_3_PmuCode.bin
PSP_PMUI_FILE_SUB0_INS4    Bios_Typex64_4_PmuCode.bin
PSP_PMUI_FILE_SUB0_INS5    Bios_Typex64_5_PmuCode.bin
PSP_PMUI_FILE_SUB0_INS6    Bios_Typex64_6_PmuCode.bin
PSP_PMUI_FILE_SUB0_INS7    Bios_Typex64_7_PmuCode.bin
PSP_PMUD_FILE_SUB0_INS1    Bios_Typex65_1_PmuData.bin
PSP_PMUD_FILE_SUB0_INS2    Bios_Typex65_2_PmuData.bin
PSP_PMUD_FILE_SUB0_INS3    Bios_Typex65_3_PmuData.bin
PSP_PMUD_FILE_SUB0_INS4    Bios_Typex65_4_PmuData.bin
PSP_PMUD_FILE_SUB0_INS5    Bios_Typex65_5_PmuData.bin
PSP_PMUD_FILE_SUB0_INS6    Bios_Typex65_6_PmuData.bin
PSP_PMUD_FILE_SUB0_INS7    Bios_Typex65_7_PmuData.bin
PSP_PMUI_FILE_SUB0_INSb    Bios_Typex64_b_PmuCode.bin
PSP_PMUD_FILE_SUB0_INSb    Bios_Typex65_b_PmuData.bin
PSP_PMUI_FILE_SUB0_INSc    Bios_Typex64_c_PmuCode.bin
PSP_PMUD_FILE_SUB0_INSc    Bios_Typex65_c_PmuData.bin
PSP_PMUI_FILE_SUB0_INSd    Bios_Typex64_d_PmuCode.bin
PSP_PMUD_FILE_SUB0_INSd    Bios_Typex65_d_PmuData.bin
PSP_MP2CFG_FILE            Bios_Typex6a_Mp2Cfg.bin
