config DRIVERS_OPTION_CFR_ENABLED
	def_bool n

config DRIVERS_OPTION_CFR
	bool "Support generating a CFR list of options"
	select DRIVERS_EFI_VARIABLE_STORE if PAYLOAD_EDK2 && SMMSTORE
	default y if DRIVERS_OPTION_CFR_ENABLED

config DRIVERS_OPTION_CFR_RUNTIME_APPLY
	bool
	depends on ARCH_X86
	depends on DRIVERS_OPTION_CFR
	depends on HAVE_SMI_HANDLER
	default y
