# This image was built using coreboot release_26.09-451-g7ee34bed989c
CONFIG_ANY_TOOLCHAIN=y
CONFIG_FMDFILE="src/mainboard/emulation/qemu-q35/native-service-8M.fmd"
CONFIG_BOARD_EMULATION_QEMU_X86_Q35=y
CONFIG_Q35_SMM_INVOCATION_NATIVE_COMPONENT=y
CONFIG_Q35_SMM_INVOCATION_NATIVE_CAUSE_COMPONENT=y
CONFIG_Q35_SMM_INVOCATION_NATIVE_SERVICE_COMPONENT=y
CONFIG_Q35_SMM_INVOCATION_NATIVE_PUBLIC_SERVICE_COMPONENT=y
CONFIG_Q35_SMM_CAPSULE_BROKER_SERVICE=y
CONFIG_Q35_SMM_CAPSULE_BROKER_AUTH_POLICY=y
CONFIG_Q35_SMM_CAPSULE_BROKER_BUFFERS=y
CONFIG_Q35_SMM_CAPSULE_BROKER=y
CONFIG_Q35_VTD_DMA_TEST_BACKEND=y
CONFIG_PAYLOAD_LOCAL_APIC_TIMER_INFO=y
CONFIG_DRIVERS_EFI_FW_INFO=y
CONFIG_CPU_QEMU_X86_TSEG_SMM=y
# CONFIG_ON_DEVICE_ROM_LOAD is not set
CONFIG_GENERIC_LINEAR_FRAMEBUFFER=y
CONFIG_DRIVERS_EFI_VARIABLE_STORE=y
CONFIG_DRIVERS_EFI_MAIN_FW_VERSION=0x001a0009
CONFIG_DRIVERS_EFI_MAIN_FW_LSV=0x001a0009
CONFIG_DRIVERS_EFI_CAPSULE_RAM_HANDOFF=y
CONFIG_DRIVERS_EFI_CAPSULE_DELIVERY_POLICY=y
CONFIG_DRIVERS_EFI_CAPSULE_ON_DISK_SUPPORT=y
CONFIG_DRIVERS_EFI_CAPSULE_TRUSTED_PUBLIC_CERT="/home/sean/q35-capsule-native-signing.PuAsza/trust.pem"
CONFIG_PAYLOAD_ELF=y
CONFIG_PAYLOAD_FILE="/home/sean/fresh-normal-focus-after657.CftZZg/build/native/cdk2-coreboot-image.elf"
CONFIG_PAYLOAD_RESOURCE_HANDOFF=y
# End of defconfig. Derivable values start here.
CONFIG_LOCALVERSION=""
CONFIG_CBFS_PREFIX="fallback"
CONFIG_COMPILER_GCC=y
CONFIG_OPTION_BACKEND_NONE=y
CONFIG_COMPRESS_RAMSTAGE_LZMA=y
CONFIG_SEPARATE_ROMSTAGE=y
CONFIG_INCLUDE_CONFIG_FILE=y
CONFIG_COLLECT_TIMESTAMPS=y
CONFIG_USE_BLOBS=y
CONFIG_HAVE_ASAN_IN_RAMSTAGE=y
CONFIG_NO_STAGE_CACHE=y
CONFIG_VENDOR_EMULATION=y
CONFIG_BOARD_SPECIFIC_OPTIONS=y
CONFIG_MAINBOARD_PART_NUMBER="QEMU x86 q35/ich9"
CONFIG_MAINBOARD_VERSION="1.0"
CONFIG_MAINBOARD_DIR="emulation/qemu-q35"
CONFIG_DIMM_MAX=4
CONFIG_DIMM_SPD_SIZE=256
CONFIG_MAINBOARD_VENDOR="Emulation"
CONFIG_CBFS_SIZE=0x00800000
CONFIG_CONSOLE_SERIAL=y
CONFIG_MAX_CPUS=1
CONFIG_POST_DEVICE=y
CONFIG_POST_IO=y
CONFIG_UART_FOR_CONSOLE=0
CONFIG_OVERRIDE_DEVICETREE=""
CONFIG_DEVICETREE="devicetree.cb"
CONFIG_VBOOT_VBNV_OFFSET=0x2c
CONFIG_MAINBOARD_SMBIOS_MANUFACTURER="Emulation"
CONFIG_ECAM_MMCONF_BASE_ADDRESS=0xb0000000
CONFIG_ECAM_MMCONF_BUS_NUMBER=256
CONFIG_MEMLAYOUT_LD_FILE="src/arch/x86/memlayout.ld"
CONFIG_PRERAM_CBMEM_CONSOLE_SIZE=0xc00
CONFIG_TPM_PIRQ=0x0
CONFIG_MAINBOARD_SMBIOS_PRODUCT_NAME="QEMU x86 q35/ich9"
CONFIG_MAX_SOCKET=1
CONFIG_CMOS_DEFAULT_FILE="src/mainboard/$(MAINBOARDDIR)/cmos.default"
CONFIG_CMOS_LAYOUT_FILE="src/mainboard/$(MAINBOARDDIR)/cmos.layout"
CONFIG_DCACHE_RAM_BASE=0x10000
CONFIG_DCACHE_RAM_SIZE=0x90000
CONFIG_C_ENV_BOOTBLOCK_SIZE=0x40000
CONFIG_DCACHE_BSP_STACK_SIZE=0x4000
CONFIG_SMM_MODULE_STACK_SIZE=0x4000
CONFIG_SMMSTORE_SIZE=0x10000
CONFIG_SMMSTORE_BLOCK_SIZE=4096
CONFIG_SMM_TSEG_SIZE=0x800000
CONFIG_QEMU_PFLASH_VOLATILE_LEASE=y
CONFIG_Q35_PAYLOAD_MM_AUTHVAR_TEST_PROOF=y
CONFIG_Q35_PAYLOAD_MM_AUTHVAR_EXECUTOR_TEST_PROOF=y
CONFIG_Q35_SMM_INVOCATION_FAIL_STOP_TEST=y
CONFIG_MAX_ACPI_TABLE_SIZE_KB=224
CONFIG_DRIVERS_INTEL_WIFI=y
CONFIG_D3COLD_SUPPORT=y
CONFIG_RAMSTAGE_CBFS_CACHE_SIZE=0x4000
CONFIG_MAINBOARD_SERIAL_NUMBER="123456789"
CONFIG_CONSOLE_CBMEM_BUFFER_SIZE=0x20000
CONFIG_SYSTEM_SMBIOS_MANUFACTURER="Emulation"
CONFIG_PLATFORM_POST_RENDER_DELAY_SEC=5
CONFIG_CARDBUS_PLUGIN_SUPPORT=y
CONFIG_PCIEXP_HOTPLUG_BUSES=8
CONFIG_PCIEXP_HOTPLUG_MEM=0x800000
CONFIG_PCIEXP_HOTPLUG_PREFETCH_MEM=0x10000000
CONFIG_PS2K_EISAID="PNP0303"
CONFIG_PS2M_EISAID="PNP0F13"
CONFIG_TTYS0_BAUD=115200
CONFIG_DRIVERS_UART_8250IO=y
CONFIG_PC_CMOS_BASE_PORT_BANK1=0x72
CONFIG_HEAP_SIZE=0x100000
CONFIG_USE_PC_CMOS_ALTCENTURY=y
CONFIG_BOARD_ROMSIZE_KB_8192=y
CONFIG_COREBOOT_ROMSIZE_KB_8192=y
CONFIG_COREBOOT_ROMSIZE_KB=8192
CONFIG_ROM_SIZE=0x00800000
CONFIG_HAVE_POWER_STATE_AFTER_FAILURE=y
CONFIG_HAVE_POWER_STATE_PREVIOUS_AFTER_FAILURE=y
CONFIG_POWER_STATE_OFF_AFTER_FAILURE=y
CONFIG_MAINBOARD_POWER_FAILURE_STATE=0
CONFIG_CHIPSET_DEVICETREE=""
CONFIG_CBFS_MCACHE_SIZE=0x4000
CONFIG_ROMSTAGE_ADDR=0x2000000
CONFIG_VERSTAGE_ADDR=0x2000000
CONFIG_CPU_PT_ROM_MAP_GB=4
CONFIG_PRERAM_CBFS_CACHE_SIZE=0x4000
CONFIG_DOMAIN_RESOURCE_32BIT_LIMIT=0xfe000000
CONFIG_EHCI_BAR=0xfef00000
CONFIG_ACPI_CPU_STRING="CP%02X"
CONFIG_STACK_SIZE=0x2000
CONFIG_INTEL_GMA_BCLV_OFFSET=0xc8254
CONFIG_INTEL_GMA_BCLV_WIDTH=16
CONFIG_INTEL_GMA_BCLM_OFFSET=0xc8256
CONFIG_INTEL_GMA_BCLM_WIDTH=16
CONFIG_BOOTBLOCK_IN_CBFS=y
CONFIG_HPET_MIN_TICKS=0x80
CONFIG_SOC_PHYSICAL_ADDRESS_WIDTH=0
CONFIG_DEBUG_STACK_OVERFLOW_BREAKPOINTS=y
CONFIG_CBFS_CACHE_ALIGN=8
CONFIG_FIXED_SMBUS_IO_BASE=0x400
CONFIG_UART_BITBANG_TX_DELAY_MS=5
CONFIG_CPU_QEMU_X86=y
CONFIG_SMM_INVOCATION_FAIL_STOP_PLATFORM=y
CONFIG_SMM_INVOCATION_EVIDENCE=y
CONFIG_SMM_INVOCATION_ENTRY_PLATFORM=y
CONFIG_SMM_INVOCATION_ENTRY=y
CONFIG_SMM_PRE_LOCK_DISPATCH=y
CONFIG_SMM_INVOCATION_TUPLE_TRIGGER=y
CONFIG_SMM_SAVE_STATE_GEOMETRY=y
CONFIG_SMM_INVOCATION_TOPOLOGY=y
CONFIG_SMM_INVOCATION_LOADER_INSTANCE=y
CONFIG_SMM_INVOCATION_LOADER_INSTANCE_PLATFORM=y
CONFIG_SMM_INVOCATION_LOADER_COMPOSITION=y
CONFIG_SMM_INVOCATION_RUNTIME_VIEW=y
CONFIG_PARALLEL_MP=y
CONFIG_XAPIC_ONLY=y
CONFIG_UDELAY_TSC=y
CONFIG_UNKNOWN_TSC_RATE=y
CONFIG_SERIALIZE_MEASURED_TSC_RATE=y
CONFIG_TSC_MONOTONIC_TIMER=y
CONFIG_HAVE_SMI_HANDLER=y
CONFIG_NEED_SMALL_2MB_PAGE_TABLES=y
CONFIG_SMM_TSEG=y
CONFIG_SMM_OPAL_S3_STATE_SMRAM_SIZE=0x0
CONFIG_SMM_AUTHVAR_S3_STATE_SMRAM_SIZE=0x0
CONFIG_SMM_PCI_RESOURCE_STORE=y
CONFIG_SMM_PCI_RESOURCE_STORE_NUM_SLOTS=8
CONFIG_AP_STACK_SIZE=0x800
CONFIG_SMM_APMC_COMMAND_REGISTRY=y
CONFIG_SMM_APMC_COMPOSITION_ATTESTED=y
CONFIG_SMM_INVOCATION_RUNTIME_BINDING=y
CONFIG_SMM_APMC_ROUTE_ACPI_CONTROL=y
CONFIG_SMM_APMC_ROUTE_FINALIZE=y
CONFIG_SMM_APMC_ROUTE_SMMSTORE=y
CONFIG_SMM_APMC_ROUTE_ELOG=y
CONFIG_SMM_APMC_ROUTE_SPI_CONSOLE=y
CONFIG_SMM_APMC_ROUTE_CAPSULE_BROKER=y
CONFIG_SMM_APMC_ROUTE_AUTHVAR_SERVICE=y
CONFIG_PAYLOAD_MM_AUTHVAR_SERVICE_ROUTE_ATTESTED=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_NUM_GPIOS=61
CONFIG_PCIEXP_HOTPLUG=y
CONFIG_SOUTHBRIDGE_INTEL_I82801IX=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_RESET=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_RTC=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_PMCLIB=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_PMBASE=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_GPIO=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_EARLY_SMBUS=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_SMBUS=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_PIRQ_ACPI_GEN=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_RCBA_PIRQ=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_SMM=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_USB_DEBUG=y
CONFIG_INTEL_DESCRIPTOR_MODE_CAPABLE=y
CONFIG_TCO_SPACE_NOT_YET_SPLIT=y
CONFIG_SOUTHBRIDGE_INTEL_COMMON_WATCHDOG=y
CONFIG_FIXED_RCBA_MMIO_BASE=0xfed1c000
CONFIG_RCBA_LENGTH=0x4000
CONFIG_MAINBOARD_HAS_CHROMEOS=y
CONFIG_ACPI_FNKEY_GEN_SCANCODE=0
CONFIG_UDK_BASE=y
CONFIG_UDK_2017_BINDING=y
CONFIG_UDK_2013_VERSION=2013
CONFIG_UDK_2017_VERSION=2017
CONFIG_UDK_202005_VERSION=202005
CONFIG_UDK_202111_VERSION=202111
CONFIG_UDK_202302_VERSION=202302
CONFIG_UDK_202305_VERSION=202305
CONFIG_UDK_VERSION=2017
CONFIG_ARCH_X86=y
CONFIG_ARCH_BOOTBLOCK_X86_32=y
CONFIG_ARCH_VERSTAGE_X86_32=y
CONFIG_ARCH_ROMSTAGE_X86_32=y
CONFIG_ARCH_POSTCAR_X86_32=y
CONFIG_ARCH_RAMSTAGE_X86_32=y
CONFIG_ARCH_SMM_X86_32=y
CONFIG_ARCH_ALL_STAGES_X86_32=y
CONFIG_HAVE_X86_64_SUPPORT=y
CONFIG_X86_TOP4G_BOOTMEDIA_MAP=y
CONFIG_POSTRAM_CBFS_CACHE_IN_BSS=y
CONFIG_PC80_SYSTEM=y
CONFIG_HAVE_CMOS_DEFAULT=y
CONFIG_POSTCAR_STAGE=y
CONFIG_BOOTBLOCK_SIMPLE=y
CONFIG_COLLECT_TIMESTAMPS_TSC=y
CONFIG_IDT_IN_EVERY_STAGE=y
CONFIG_HAVE_CF9_RESET=y
CONFIG_DEBUG_HW_BREAKPOINTS=y
CONFIG_DEBUG_HW_BREAKPOINTS_IN_ALL_STAGES=y
CONFIG_DEBUG_NULL_DEREF_BREAKPOINTS=y
CONFIG_DEBUG_NULL_DEREF_BREAKPOINTS_IN_ALL_STAGES=y
CONFIG_X86_BOOTBLOCK_EXTRA_PROGRAM_SZ=0
CONFIG_DEFAULT_EBDA_LOWMEM=0x100000
CONFIG_DEFAULT_EBDA_SEGMENT=0xF600
CONFIG_DEFAULT_EBDA_SIZE=0x400
CONFIG_IOAPIC=y
CONFIG_HAVE_VGA_TEXT_FRAMEBUFFER=y
CONFIG_HAVE_LINEAR_FRAMEBUFFER=y
CONFIG_MAINBOARD_HAS_NATIVE_VGA_INIT=y
CONFIG_MAINBOARD_FORCE_NATIVE_VGA_INIT=y
CONFIG_MAINBOARD_DO_NATIVE_VGA_INIT=y
CONFIG_NO_EARLY_GFX_INIT=y
CONFIG_LINEAR_FRAMEBUFFER=y
CONFIG_DEFAULT_SCREEN_ROTATION_INT=0
CONFIG_PCI=y
CONFIG_ECAM_MMCONF_SUPPORT=y
CONFIG_PCIX_PLUGIN_SUPPORT=y
CONFIG_AZALIA_HDA_CODEC_SUPPORT=y
CONFIG_PCIEXP_PLUGIN_SUPPORT=y
CONFIG_ECAM_MMCONF_LENGTH=0x10000000
CONFIG_PCI_ALLOW_BUS_MASTER=y
CONFIG_PCI_SET_BUS_MASTER_PCI_BRIDGES=y
CONFIG_PCI_ALLOW_BUS_MASTER_ANY_DEVICE=y
CONFIG_PCIEXP_HOTPLUG_PREFETCH_MEM_ABOVE_4G=y
CONFIG_PCIEXP_HOTPLUG_IO=0x800
CONFIG_SUBSYSTEM_VENDOR_ID=0x0000
CONFIG_SUBSYSTEM_DEVICE_ID=0x0000
CONFIG_I2C_TRANSFER_TIMEOUT_US=500000
CONFIG_RESOURCE_ALLOCATION_TOP_DOWN=y
CONFIG_CRB_TPM_BASE_ADDRESS=0xfed40000
CONFIG_DRIVERS_EFI_MAIN_FW_GUID="00112233-4455-6677-8899-aabbccddeeff"
CONFIG_DRIVERS_EFI_CAPSULE_MM_READ_ADMISSION=y
CONFIG_DRIVERS_EFI_CAPSULE_MAX_NONPOPULATE_SIZE=0x4000000
CONFIG_DRIVERS_EFI_CAPSULE_MAX_POPULATE_SIZE=0x4000000
CONFIG_SMMSTORE_READ_REGION=y
CONFIG_DRIVERS_UART=y
CONFIG_HAVE_USBDEBUG=y
CONFIG_HAVE_USBDEBUG_OPTIONS=y
CONFIG_DRIVERS_EMULATION_QEMU_BOCHS=y
CONFIG_DRIVERS_EMULATION_QEMU_CIRRUS=y
CONFIG_DRIVERS_EMULATION_QEMU_XRES=800
CONFIG_DRIVERS_EMULATION_QEMU_YRES=600
CONFIG_DRIVERS_EMULATION_QEMU_FW_CFG=y
CONFIG_DRIVERS_MC146818=y
CONFIG_PC_CMOS_BASE_PORT_BANK0=0x70
CONFIG_MEMORY_MAPPED_TPM=y
CONFIG_TPM_TIS_BASE_ADDRESS=0xfed40000
CONFIG_VGA=y
CONFIG_DRIVERS_WIFI_GENERIC=y
CONFIG_DRIVERS_MTK_WIFI=y
CONFIG_NO_TPM=y
CONFIG_PCR_BOOT_MODE=1
CONFIG_PCR_HWID=1
CONFIG_PCR_SRTM=2
CONFIG_PCR_FW_VER=10
CONFIG_PCR_RUNTIME_DATA=3
CONFIG_PLATFORM_HAS_DRAM_CLEAR=y
CONFIG_BOOTMEDIA_LOCK_NONE=y
CONFIG_ACPI_HAVE_PCAT_8259=y
CONFIG_ACPI_INTEL_HARDWARE_SLEEP_VALUES=y
CONFIG_ACPI_SOC_NVS=y
CONFIG_ACPI_NO_CUSTOM_MADT=y
CONFIG_ACPI_COMMON_MADT_LAPIC=y
CONFIG_ACPI_COMMON_MADT_IOAPIC=y
CONFIG_HAVE_ACPI_TABLES=y
CONFIG_BOOT_DEVICE_NOT_SPI_FLASH=y
CONFIG_BOOT_DEVICE_MEMORY_MAPPED=y
CONFIG_BOOT_DEVICE_SUPPORTS_WRITES=y
CONFIG_BOOTBLOCK_CONSOLE=y
CONFIG_POSTCAR_CONSOLE=y
CONFIG_TTYS0_BASE=0x3f8
CONFIG_CONSOLE_SERIAL_115200=y
CONFIG_TTYS0_LCS=3
CONFIG_CONSOLE_CBMEM=y
CONFIG_CONSOLE_QEMU_DEBUGCON=y
CONFIG_CONSOLE_QEMU_DEBUGCON_PORT=0x402
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_7=y
CONFIG_DEFAULT_CONSOLE_LOGLEVEL=7
CONFIG_CONSOLE_USE_LOGLEVEL_PREFIX=y
CONFIG_CONSOLE_USE_ANSI_ESCAPES=y
CONFIG_POST_DEVICE_NONE=y
CONFIG_POST_IO_PORT=0x80
CONFIG_HWBASE_DEBUG_CB=y
CONFIG_HAVE_MONOTONIC_TIMER=y
CONFIG_HAVE_OPTION_TABLE=y
CONFIG_USE_WATCHDOG_ON_BOOT=y
CONFIG_GENERATE_SMBIOS_TABLES=y
CONFIG_BIOS_VENDOR="coreboot"
CONFIG_COMPRESSED_PAYLOAD_LZMA=y
CONFIG_COMPRESS_SECONDARY_PAYLOAD=y
CONFIG_HAVE_DEBUG_SMBUS=y
CONFIG_BOOTMEM_ALIGNED_RESERVATIONS=y
CONFIG_PAYLOAD_DMA_HANDOFF=y
CONFIG_CAPSULE_UPDATE_CONTRACT=y
CONFIG_PAYLOAD_MM_AUTHVAR_CONTRACT=y
CONFIG_PAYLOAD_MM_AUTHVAR_STORE_SCANNER=y
CONFIG_PAYLOAD_MM_AUTHVAR_FTW_DECODER=y
CONFIG_PAYLOAD_MM_AUTHVAR_STORE_SEMANTICS=y
CONFIG_PAYLOAD_MM_AUTHVAR_VOLATILE_VIEW=y
CONFIG_PAYLOAD_MM_AUTHVAR_DEFAULT_STORE=y
CONFIG_PAYLOAD_MM_AUTHVAR_MEDIA_PORT=y
CONFIG_PAYLOAD_MM_AUTHVAR_QEMU_PFLASH_BACKEND=y
CONFIG_PAYLOAD_MM_AUTHVAR_WRITER=y
CONFIG_PAYLOAD_MM_AUTHVAR_EXECUTOR=y
CONFIG_PAYLOAD_MM_AUTHVAR_RECOVERY_PLANNER=y
CONFIG_PAYLOAD_MM_FMP_OWNER_AUTHVAR=y
CONFIG_PAYLOAD_MM_FMP_OWNER_AUTHVAR_BOOT=y
CONFIG_PAYLOAD_MM_AUTHVAR_SMM_BOOTSTRAP=y
CONFIG_PAYLOAD_MM_AUTHVAR_DEFAULT_STORE_RECOVERY=y
CONFIG_PAYLOAD_MM_AUTHVAR_FORMAT_PARSER=y
CONFIG_PAYLOAD_MM_AUTHVAR_SIGNATURE_DB=y
CONFIG_PAYLOAD_MM_AUTHVAR_CERTDB=y
CONFIG_PAYLOAD_MM_AUTHVAR_ROUTE=y
CONFIG_PAYLOAD_MM_AUTHVAR_TRUST_STORE=y
CONFIG_PAYLOAD_MM_AUTHVAR_PRIVATE_BINDING=y
CONFIG_PAYLOAD_MM_AUTHVAR_PRIVATE_TRUST=y
CONFIG_PAYLOAD_MM_AUTHVAR_AUTHORITY=y
CONFIG_PAYLOAD_MM_AUTHVAR_BUNDLE_PLAN=y
CONFIG_PAYLOAD_MM_AUTHVAR_CANDIDATE=y
CONFIG_PAYLOAD_MM_AUTHVAR_CANDIDATE_COMMIT=y
CONFIG_PAYLOAD_MM_AUTHVAR_STATE_PREDICATE_PINNED=y
CONFIG_PAYLOAD_MM_AUTHVAR_COORDINATOR=y
CONFIG_PAYLOAD_MM_AUTHVAR_PRESENCE_AUTHORITY=y
CONFIG_PAYLOAD_MM_AUTHVAR_PRESENCE_PRODUCER=y
CONFIG_PAYLOAD_MM_AUTHVAR_PRESENCE_PUBLICATION=y
CONFIG_PAYLOAD_MM_AUTHVAR_SERVICE_BOOTSTRAP_ONLY=y
CONFIG_PAYLOAD_MM_AUTHVAR_PRESENCE_TRANSACTION=y
CONFIG_PAYLOAD_MM_AUTHVAR_PRESENCE_TUPLE_SENDER=y
CONFIG_PAYLOAD_MM_AUTHVAR_AUTHORITY_PROVIDER=y
CONFIG_PAYLOAD_MM_AUTHVAR_CONTROLLED_MODE=y
CONFIG_PAYLOAD_MM_AUTHVAR_MOR_COMPLETION_GRANT=y
CONFIG_PAYLOAD_MM_AUTHVAR_MOR_COMPLETION_SEAL=y
CONFIG_BOOTMEM_ALIGNED_RESERVATION_RECEIPT=y
CONFIG_CAPSULE_BROKER_CONTRACT=y
CONFIG_CAPSULE_BROKER_FIXED_BUFFERS=y
CONFIG_CAPSULE_BROKER_CBMEM_BUFFERS=y
CONFIG_CAPSULE_BROKER_ENDPOINT_PUBLICATION=y
CONFIG_PAYLOAD_MM_CMS_CORE=y
CONFIG_PAYLOAD_MM_CMS_VERIFY=y
CONFIG_CAPSULE_BROKER_TRUST_PACKAGE=y
CONFIG_PAYLOAD_MM_AUTHVAR_CMS_VERIFY=y
CONFIG_PAYLOAD_MM_AUTHVAR_TRUST_ANCHOR=y
CONFIG_DECOMPRESS_OFAST=y
CONFIG_PROBE_RAM=y
CONFIG_MAX_REBOOT_CNT=3
CONFIG_RELOCATABLE_MODULES=y
CONFIG_GENERIC_GPIO_LIB=y
CONFIG_HAVE_BOOTBLOCK=y
CONFIG_HAVE_ROMSTAGE=y
CONFIG_HAVE_RAMSTAGE=y
